.container {
  max-width: 1400px;
  margin: 0 auto;

  &_relative {
    position: relative;
  }

  @include respond(mobile) {
    padding: 0px 15px;
  }

  &_wide {
    max-width: 1920px;
  }

  &_desktop {
    @include respond(mobile) {
      display: none;
    }
  }

  &_mobile {
    @include respond(mobile) {
      padding: 0;
    }
  }
}
