@import "reset.css";
@import "mixins.scss";
@import "assets/fonts/fonts.scss";
@import "components/components.scss";

:root {
  --text: #292d32;
  --text-dark: #ffffff;
  --text-secondary: #838383;
  --grey-1: #f9f9f9;
  --grey-2: #f2f2f2;
  --grey-3: #acacac;

  --element-color: #33a9ff;
  --element-subelement: #ffffff;
  --background-primary: #ffffff;
  --background-secondary: var(--grey-2);
  --background-dark: #292d32;
}

body {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100vh;
}
