@import "reset.css";
@import "mixins.scss";
@import "assets/fonts/fonts.scss";
@import "components/components.scss";

:root {
  --element-color: #33a9ff;
  --background-primary: #ffffff;
  --text: #292d32;
  --grey-1: #f9f9f9;
  --grey-2: #acacac;
}

body {
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}
